<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmsping.dao.Mobiledao">
  
 <select id="selectByNum" parameterType="String"   resultType="com.ssmsping.pojo.Mobilepojo" >
 SELECT * from mobilepo WHERE MobileNumber  =#{MobileNumber}
 </select>
    
  
  
 
</mapper>